.employeeContainer {
    height: 400px;
    width: 275px;
    background-color: #0856cb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    border-radius: 10px;

    .name {
        font-size: 32px;
        color: #ffffff;
    }

    .role {
        font-size: 20px;
        color: #ffffff;
    }
}

